// Links
//
// Link elements `<a>`
//
// Browser support: IE9+, Safari6+, Firefox30+, Chrome30+
//
// Markup:
// <a href="#">Visit this page.</a>
//
// :hover     - hovered state
// :focus     - focused state
// :visited   - visited state
//
// Styleguide Style.typography.links

a {
  color: $sb-color-blue-2;
  text-decoration: underline;
}

a:hover {
  color: $sb-color-blue-1;
}

a:focus {
  box-shadow: $sb-box-shadow;
}

a:visited {
  color: $sb-color-blue-1;
}
