// Anchors
//
// Anchor elements `<a>`
//
// Markup:
// <a>Visit this page.</a>
//
// :hover     - hovered state
// :focus     - focused state
// :visited   - visited state
//
// Styleguide typography.anchors

a {
  color: $sb-color-blue-2;
  text-decoration: underline;
}

a:hover {
  color: $sb-color-blue-1;
}

a:focus {
  box-shadow: $sb-box-shadow;
}

a:visited {
  color: $sb-color-blue-1;
}
