/* stylelint-disable plugin/docs-required */

// A simple page level setup.

// Create @font-face declarations
@each $font-name, $font-types in $sb-font-stack {
  @each $font-type, $font-settings in $font-types {
    $font-path-woff: map-get($font-settings, woff);
    $font-path-woff2: map-get($font-settings, woff2);
    $font-weight: map-get($font-settings, weight);

    @font-face {
      font-family: $font-name;
      font-weight: $font-weight;
      src:
        url($font-path-woff) format('woff'),
        url($font-path-woff2) format('woff2');
    }
  }
}

html {
  font-family: $sb-primary-font-family;
  color: $sb-color-dark-3;
  font-weight: 400;
}
