// Buttons
//
// Button types.
//
// Markup:
// <button class="sb-btn {{modifier_class}}">Button</button>
// <button class="sb-btn {{modifier_class}}" aria-label="Star">
//   <svg class="sb-icon" id="sb-icon-star" viewBox="0 0 16 16">
//     <path d="M4.50044648,13.7056111 L8,11.5680972 L11.4995535,13.7056111 L10.5480786,9.71680978 L13.6623965,7.04906473 L9.57479916,6.7213638 L8,2.93509282 L6.42520085,6.7213638 L2.33760346,7.04906473 L5.45192146,9.71680977 L4.50044648,13.7056111 Z M8,12.6096808 L3.13994104,15.5781862 L4.4613166,10.0386768 L0.13625942,6.33380469 L5.81297339,5.878705 L8,0.620462738 L10.1870267,5.878705 L15.8637405,6.33380469 L11.5386834,10.0386768 L12.8600589,15.5781862 L8,12.6096808 Z"></path>
//   </svg>
// </button>
// <button class="sb-btn {{modifier_class}}">
//   <svg class="sb-icon" id="sb-icon-bin" viewBox="0 0 16 16">
//     <path d="M6.07369,13.800506 L5.5067,4.501887 C5.49899,4.287778 5.32027,4.12099 5.10764,4.12836 C4.89502,4.136506 4.72901,4.316481 4.73671,4.53059 L5.30409,13.829209 C5.31179,14.043318 5.49052,14.210493 5.70314,14.202736 C5.91576,14.19459 6.08139,14.015003 6.07369,13.800506 Z M12.23704,14.507579 C12.18504,14.883573 11.89191,15.220363 11.46667,15.220363 L4.53333,15.220363 C4.1077,15.220363 3.82151,14.887493 3.76296,14.507579 L2.99259,2.909091 L13.00741,2.909091 L12.23704,14.507579 Z M6.07407,2.327273 L6.07407,0.776145 L9.92593,0.776145 L9.92593,2.327273 L6.07407,2.327273 Z M10.6963,2.181818 L10.6963,0.727636 C10.6963,0.325818 10.35117,0 9.92593,0 L6.07407,0 C5.64844,0 5.3037,0.325818 5.3037,0.727636 L5.3037,2.181818 L0.38519,2.181818 C0.17256,2.181818 0,2.344727 0,2.545818 C0,2.746545 0.17256,2.909091 0.38519,2.909091 L2.22222,2.909091 L2.99259,14.545455 C3.11662,15.341455 3.68246,16 4.53333,16 L11.46667,16 C12.31754,16 12.86258,15.333455 13.00741,14.545455 L13.77778,2.909091 L15.61481,2.909091 C15.82744,2.909091 16,2.746545 16,2.545818 C16,2.344727 15.82744,2.181818 15.61481,2.181818 L10.6963,2.181818 Z M10.69707,13.829208 L11.25559,4.53059 C11.26329,4.316481 11.09727,4.136505 10.88465,4.12836 C10.67203,4.12099 10.4933,4.288166 10.48599,4.502275 L9.92708,13.801281 C9.91938,14.01539 10.08578,14.194978 10.29801,14.202735 C10.51102,14.210881 10.68936,14.043317 10.69707,13.829208 Z M8.38519,13.814157 L8.38519,4.505066 C8.38519,4.290569 8.21262,4.117188 8,4.117188 C7.78738,4.117188 7.61481,4.290569 7.61481,4.505066 L7.61481,13.814157 C7.61481,14.028654 7.78738,14.202036 8,14.202036 C8.21262,14.202036 8.38519,14.028654 8.38519,13.814157 Z"></path>
//   </svg>
//   Delete
// </button>
// <button class="sb-btn {{modifier_class}}" disabled>Disabled</button>
//
// .sb-btn--primary - Primary button
// .sb-btn--secondary - Secondary button
// .sb-btn--subtle - Subtle button
//
// Styleguide buttons

$sb-btn-padding: sb-px2rems(11px) sb-px2rems(16px);
$sb-btn-padding-s: sb-px2rems(7px);
$sb-btn-padding-l: sb-px2rems(11px) sb-px2rems(23px);

.#{$ns}btn {
  background-color: $sb-color-white;
  border: 1px solid $sb-color-dark-3;
  border-radius: sb-px2rems($sb-radius);
  color: $sb-color-dark-3;
  cursor: pointer;
  display: inline-block;
  font-family: $sb-primary-font-family;
  font-variant: all-small-caps;
  font-weight: 600;
  line-height: 1;
  padding: $sb-btn-padding;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: color $sb-transition, box-shadow $sb-transition;
  -webkit-font-smoothing: antialiased;

  &::before {
    border: 1px solid transparent;
    border-radius: sb-px2rems(1px);
    content: '';
    height: calc(100% - 2px);
    left: 1px;
    opacity: 0;
    position: absolute;
    top: 1px;
    transform: scale(0.85);
    transition: transform $sb-transition;
    width: calc(100% - 2px);
  }

  &:hover {
    background-color: $sb-color-white;
    border-color: $sb-color-dark-1;
    box-shadow: $sb-box-shadow;
    color: $sb-color-dark-1;
  }

  &:active,
  &:focus {
    border-color: $sb-color-dark-3;
    box-shadow: $sb-box-shadow;
    outline: none;

    &::before {
      border-color: $sb-color-dark-3;
      opacity: 1;
      transform: none;
    }
  }

  &:visited {
    color: $sb-color-dark-3;
  }

  &[disabled],
  &[disabled]:hover {
    background-color: $sb-color-white;
    border-color: $sb-color-light-3;
    box-shadow: none;
    color: $sb-color-light-3;
    cursor: inherit;
  }
}

.#{$ns}btn--primary {
  background-color: $sb-color-blue-2;
  border-color: $sb-color-blue-2;
  color: $sb-color-white;

  &:hover {
    background-color: $sb-color-blue-1;
    border-color: $sb-color-blue-1;
    color: $sb-color-white;
  }

  &:active,
  &:focus {
    border-color: $sb-color-blue-1;

    &::before {
      border-color: $sb-color-white;
      height: 100%;
      left: 0;
      top: 0;
      width: 100%;
    }
  }

  &:visited {
    color: $sb-color-white;
  }

  &[disabled],
  &[disabled]:hover {
    background-color: $sb-color-light-3;
    border-color: $sb-color-light-3;
    color: $sb-color-white;
  }
}

.#{$ns}btn--secondary {
  background-color: $sb-color-white;
  border-color: $sb-color-blue-2;
  color: $sb-color-blue-2;

  &:hover {
    background-color: $sb-color-white;
    border-color: $sb-color-blue-1;
    color: $sb-color-blue-1;
  }

  &:active,
  &:focus {
    border-color: $sb-color-blue-2;

    &::before {
      border-color: $sb-color-blue-2;
    }
  }

  &:visited {
    color: $sb-color-blue-2;
  }
}

.#{$ns}btn--subtle {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  color: $sb-color-dark-3;

  &:hover,
  &:active,
  &:focus,
  &[disabled],
  &[disabled]:hover {
    background-color: transparent;
    border-color: transparent;
  }

  &:hover,
  &:active,
  &:focus {
    box-shadow: $sb-box-shadow;
  }

  &:active,
  &:focus {
    &::before {
      border-color: $sb-color-light-4;
    }
  }

  &[disabled],
  &[disabled]:hover {
    box-shadow: none;
    color: $sb-color-light-3;
  }
}

// Colors
//
// Buttons colors.
//
// Markup:
// <button class="sb-btn sb-btn--primary {{modifier_class}}">Button</button>
// <button class="sb-btn sb-btn--primary {{modifier_class}}" disabled>Disabled</button>
//
// .sb-btn--danger - Danger button
// .sb-btn--warning - Warning button
// .sb-btn--success - Success button
//
// Styleguide buttons.colors

@mixin btn-color($color, $color-dark, $color-darker) {
  background-color: $color;
  border-color: $color;
  color: $sb-color-white;

  &:hover {
    background-color: $color-dark;
    border-color: $color-dark;
  }

  &:active,
  &:focus {
    border-color: $color-dark;
  }
}

.#{$ns}btn--danger {
  @include btn-color($sb-color-red-3, $sb-color-red-2, $sb-color-red-1);
}

.#{$ns}btn--warning {
  @include btn-color($sb-color-yellow-3, $sb-color-yellow-2, $sb-color-yellow-1);
}

.#{$ns}btn--success {
  @include btn-color($sb-color-green-3, $sb-color-green-2, $sb-color-green-1);
}

// Sizes
//
// Buttons sizes.
//
// Markup:
// <button class="sb-btn {{modifier_class}}">Button</button>
// <button class="sb-btn {{modifier_class}} sb-btn--secondary">Secondary</button>
// <button class="sb-btn {{modifier_class}} sb-btn--primary">Primary</button>
// <button class="sb-btn {{modifier_class}} sb-btn--subtle">Subtle</button>
//
// .sb-btn--l - Large button
// .sb-btn--s - Small button
//
// Styleguide buttons.sizes

.#{$ns}btn--s {
  padding: $sb-btn-padding-s;
}

.#{$ns}btn--l {
  padding: $sb-btn-padding-l;
}
