// Button
//
// THIS IS A FAKE COMPONENT TO TEST THE STYLEGUIDE
//
// Markup:
// <button class="btn {{modifier_class}}">Button</button>
//
// .green - Green button
// .blue - Blue button
//
// Styleguide 1.
.btn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  &.green {
    background-color: #4caf50;
  }

  &.blue {
    background-color: #008cba;
  }
}
