// Button Group
//
// Group a series of buttons together on a single line.
//
// Markup:
// <div class="sb-btn-group">
//   <button class="sb-btn">Button one</button>
//   <button class="sb-btn">Button two</button>
//   <button class="sb-btn sb-btn--active">Active</button>
//   <button class="sb-btn" disabled>Disabled</button>
// </div>
//
// Styleguide button-group

.#{$ns}btn-group {
  display: inline-flex;
  width: 100%;

  .#{$ns}btn {
    border-color: $sb-color-light-1;
    border-radius: 0;
    color: $sb-color-light-1;
    display: inline-block;
    font-weight: 400;
    margin-right: -1px;
    z-index: 1;

    &:first-child {
      border-bottom-left-radius: sb-px2rems($sb-radius);
      border-top-left-radius: sb-px2rems($sb-radius);
    }

    &:last-child {
      border-bottom-right-radius: sb-px2rems($sb-radius);
      border-top-right-radius: sb-px2rems($sb-radius);
      margin-right: 0;
    }

    &:hover {
      background-color: $sb-color-white;
      border-color: $sb-color-dark-3;
      z-index: 3;
    }

    &--active,
    &:active {
      border-color: $sb-color-blue-2;
      color: $sb-color-blue-2;
      z-index: 2;
    }

    &.#{$ns}btn--active::before {
      border-color: transparent;
    }

    &:focus::before {
      border-color: $sb-color-light-1;
    }

    &--active:focus::before,
    &:active::before {
      border-color: $sb-color-blue-2;
    }

    &[disabled],
    &[disabled]:hover {
      border-color: $sb-color-light-3;
      color: $sb-color-light-3;
      z-index: 0;
    }
  }
}

// Validation
//
// How to use a button group as a form element.
//
// Markup:
// <div class="sb-form-control {{modifier_class}}">
//   <p class="sb-label">Button Group label</p>
//   <div class="sb-btn-group">
//     <button class="sb-btn">Button one</button>
//     <button class="sb-btn">Button two</button>
//     <button class="sb-btn sb-btn--active">Active</button>
//     <button class="sb-btn" disabled>Disabled</button>
//   </div>
//   <p class="sb-form-control__validation">Error message here.</p>
// </div>
//
// .sb-form-control--invalid - invalid input
//
// Styleguide button-group.validation
