// Checkbox
//
// A basic checkbox component
//
// Markup:
// <div class="sb-checkbox {{modifier_class}}">
//   <input type="checkbox" id="checkbox-1" class="sb-checkbox__input">
//   <span class="sb-checkbox__faux">
//     <svg class="sb-checkbox__checkmark" width="8" height="7" viewBox="0 0 8 7">
//       <path d="M7.68025,0 C5.067,1.97775 2.56075,4.6235 2.56075,4.6235 L0.7545,3 L0,3.7685 C0.74225,4.46625 2.46225,6.30925 3.044,7 C4.6815,4.26425 6.38375,2.224 8,0.3585 L7.68025,0 Z"></path>
//     </svg>
//   </span>
//   <label class="sb-checkbox__label" for="checkbox-1">
//     <span class="sb-form-element__label">Basic checkbox</span>
//   </label>
// </div>
//
// Styleguide 3.

.sb-checkbox {
  margin-top: sb-px2rems(7px);

  &__input {
    -webkit-appearance: none;
  }

  &__label {
    margin-left: sb-px2rems(7px);
  }

  &__faux {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: sb-px2rems(16px);
    height: sb-px2rems(16px);
    border-radius: sb-px2rems(2px);
    border: 1px solid $sb-color-light-3;
    overflow: hidden;
  }

  &__checkmark {
    fill: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -300%);
    transition: transform 200ms cubic-bezier(0.38, 1.59, 0.82, 0.96);
  }

  &:hover .sb-checkbox__faux {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  }

  &__input:focus + .sb-checkbox__faux {
    border-color: $sb-color-blue-2;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  }

  &__input:checked + .sb-checkbox__faux {
    background-color: $sb-color-blue-2;
    border-color: $sb-color-blue-2;
    border-bottom: 1px solid $sb-color-blue-1;

    .sb-checkbox__checkmark {
      transform: translate(-50%, -50%);
    }
  }

  &__input:disabled + .sb-checkbox__faux {
    border-color: $sb-color-light-4;
    box-shadow: none;
  }

  &__input:disabled:checked + .sb-checkbox__faux {
    background-color: $sb-color-light-3;
    border-color: $sb-color-light-3;
    border-bottom: 1px solid $sb-color-light-1;
  }
}

// Checkbox Group
//
// A basic checkbox group.
//
// Markup:
// <div>
//   <div class="sb-checkbox">
//     <input type="checkbox" id="checkbox-2" class="sb-checkbox__input">
//     <span class="sb-checkbox__faux">
//       <svg class="sb-checkbox__checkmark" width="8" height="7" viewBox="0 0 8 7">
//         <path d="M7.68025,0 C5.067,1.97775 2.56075,4.6235 2.56075,4.6235 L0.7545,3 L0,3.7685 C0.74225,4.46625 2.46225,6.30925 3.044,7 C4.6815,4.26425 6.38375,2.224 8,0.3585 L7.68025,0 Z"></path>
//       </svg>
//     </span>
//     <label class="sb-checkbox__label" for="checkbox-2">
//       <span class="sb-form-element__label">Basic checkbox</span>
//     </label>
//   </div>
//   <div class="sb-checkbox">
//     <input type="checkbox" id="checkbox-3" class="sb-checkbox__input">
//     <span class="sb-checkbox__faux">
//       <svg class="sb-checkbox__checkmark" width="8" height="7" viewBox="0 0 8 7">
//         <path d="M7.68025,0 C5.067,1.97775 2.56075,4.6235 2.56075,4.6235 L0.7545,3 L0,3.7685 C0.74225,4.46625 2.46225,6.30925 3.044,7 C4.6815,4.26425 6.38375,2.224 8,0.3585 L7.68025,0 Z"></path>
//       </svg>
//     </span>
//     <label class="sb-checkbox__label" for="checkbox-3">
//       <span class="sb-form-element__label">Basic checkbox</span>
//     </label>
//   </div>
//   <div class="sb-checkbox">
//     <input type="checkbox" id="checkbox-4" class="sb-checkbox__input">
//     <span class="sb-checkbox__faux">
//       <svg class="sb-checkbox__checkmark" width="8" height="7" viewBox="0 0 8 7">
//         <path d="M7.68025,0 C5.067,1.97775 2.56075,4.6235 2.56075,4.6235 L0.7545,3 L0,3.7685 C0.74225,4.46625 2.46225,6.30925 3.044,7 C4.6815,4.26425 6.38375,2.224 8,0.3585 L7.68025,0 Z"></path>
//       </svg>
//     </span>
//     <label class="sb-checkbox__label" for="checkbox-4">
//       <span class="sb-form-element__label">Basic checkbox</span>
//     </label>
//   </div>
// </div>
//
// Styleguide 3.1.

// Checkbox Group - Inline
//
// A basic checkbox group aligned horizontally. Add a `.sb-checkbox--inline` modifier class to the `.sb-checkbox` elements.
//
// Markup:
// <div>
//   <div class="sb-checkbox sb-checkbox--inline">
//     <input type="checkbox" id="checkbox-5" class="sb-checkbox__input">
//     <span class="sb-checkbox__faux">
//       <svg class="sb-checkbox__checkmark" width="8" height="7" viewBox="0 0 8 7">
//         <path d="M7.68025,0 C5.067,1.97775 2.56075,4.6235 2.56075,4.6235 L0.7545,3 L0,3.7685 C0.74225,4.46625 2.46225,6.30925 3.044,7 C4.6815,4.26425 6.38375,2.224 8,0.3585 L7.68025,0 Z"></path>
//       </svg>
//     </span>
//     <label class="sb-checkbox__label" for="checkbox-5">
//       <span class="sb-form-element__label">Basic checkbox</span>
//     </label>
//   </div>
//   <div class="sb-checkbox sb-checkbox--inline">
//     <input type="checkbox" id="checkbox-6" class="sb-checkbox__input">
//     <span class="sb-checkbox__faux">
//       <svg class="sb-checkbox__checkmark" width="8" height="7" viewBox="0 0 8 7">
//         <path d="M7.68025,0 C5.067,1.97775 2.56075,4.6235 2.56075,4.6235 L0.7545,3 L0,3.7685 C0.74225,4.46625 2.46225,6.30925 3.044,7 C4.6815,4.26425 6.38375,2.224 8,0.3585 L7.68025,0 Z"></path>
//       </svg>
//     </span>
//     <label class="sb-checkbox__label" for="checkbox-6">
//       <span class="sb-form-element__label">Basic checkbox</span>
//     </label>
//   </div>
//   <div class="sb-checkbox sb-checkbox--inline">
//     <input type="checkbox" id="checkbox-7" class="sb-checkbox__input">
//     <span class="sb-checkbox__faux">
//       <svg class="sb-checkbox__checkmark" width="8" height="7" viewBox="0 0 8 7">
//         <path d="M7.68025,0 C5.067,1.97775 2.56075,4.6235 2.56075,4.6235 L0.7545,3 L0,3.7685 C0.74225,4.46625 2.46225,6.30925 3.044,7 C4.6815,4.26425 6.38375,2.224 8,0.3585 L7.68025,0 Z"></path>
//       </svg>
//     </span>
//     <label class="sb-checkbox__label" for="checkbox-7">
//       <span class="sb-form-element__label">Basic checkbox</span>
//     </label>
//   </div>
// </div>
//
// Styleguide 3.2.

.#{$ns}checkbox--inline {
  display: inline-block;
  padding-right: sb-px2rems(16px);
}
