// Checkbox
//
// A basic checkbox component
//
// Browser support: IE9+ (no transition), Safari6+, Firefox30+, Chrome30+
//
// Obs: please do not reuse `extends` on this file for other components (apart from radio)
//
// Markup:
// <div>
//   <div class="sb-checkbox">
//     <input type="checkbox" id="checkbox-1" class="sb-checkbox__input">
//     <label class="sb-checkbox__label" for="checkbox-1">
//       <span class="sb-checkbox__faux">
//         <svg class="sb-checkbox__checkmark" viewBox="0 0 8 7">
//           <path d="M7.68025,0 C5.067,1.97775 2.56075,4.6235 2.56075,4.6235 L0.7545,3 L0,3.7685 C0.74225,4.46625 2.46225,6.30925 3.044,7 C4.6815,4.26425 6.38375,2.224 8,0.3585 L7.68025,0 Z"></path>
//         </svg>
//       </span>
//       <span class="sb-margin-left-xs">Basic checkbox.</span>
//     </label>
//   </div>
//   <div class="sb-checkbox">
//     <input type="checkbox" id="checkbox-2" class="sb-checkbox__input" disabled>
//     <label class="sb-checkbox__label" for="checkbox-2">
//       <span class="sb-checkbox__faux">
//         <svg class="sb-checkbox__checkmark" viewBox="0 0 8 7">
//           <path d="M7.68025,0 C5.067,1.97775 2.56075,4.6235 2.56075,4.6235 L0.7545,3 L0,3.7685 C0.74225,4.46625 2.46225,6.30925 3.044,7 C4.6815,4.26425 6.38375,2.224 8,0.3585 L7.68025,0 Z"></path>
//         </svg>
//       </span>
//       <span class="sb-margin-left-xs">Basic disabled checkbox.</span>
//     </label>
//   </div>
//   <div class="sb-checkbox">
//     <input type="checkbox" id="checkbox-3" class="sb-checkbox__input" disabled checked>
//     <label class="sb-checkbox__label" for="checkbox-3">
//       <span class="sb-checkbox__faux">
//         <svg class="sb-checkbox__checkmark" viewBox="0 0 8 7">
//           <path d="M7.68025,0 C5.067,1.97775 2.56075,4.6235 2.56075,4.6235 L0.7545,3 L0,3.7685 C0.74225,4.46625 2.46225,6.30925 3.044,7 C4.6815,4.26425 6.38375,2.224 8,0.3585 L7.68025,0 Z"></path>
//         </svg>
//       </span>
//       <span class="sb-margin-left-xs">Basic disabled and checked checkbox. </span>
//     </label>
//   </div>
// </div>
//
// Styleguide Components.checkbox

.#{$ns}checkbox {
  &__label {
    @extend %sb-label-inline;
  }

  &__faux {
    @extend %sb-faux;
  }

  &__checkmark {
    fill: $sb-color-white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: sb-px2rems(8px);
    height: sb-px2rems(7px);
    transform: translate(-50%, -300%);
    transition: transform $sb-transition;
  }

  &:hover .#{$ns}checkbox__faux {
    @extend %sb-faux-hover;
  }

  &__input {
    @extend %sb-faux-input;
  }

  &__input:focus + .#{$ns}checkbox__label .#{$ns}checkbox__faux {
    @extend %sb-faux-focus;
  }

  &__input:checked + .#{$ns}checkbox__label .#{$ns}checkbox__faux {
    @extend %sb-faux-checked;
  }

  &__input:checked + .#{$ns}checkbox__label .#{$ns}checkbox__checkmark {
    transform: translate(-50%, -50%);
  }

  &__input:disabled + .#{$ns}checkbox__label .#{$ns}checkbox__faux {
    @extend %sb-faux-disabled;
  }

  &__input:disabled:checked + .#{$ns}checkbox__label .#{$ns}checkbox__faux {
    @extend %sb-faux-disabled-checked;
  }
}

// Group
//
// A basic checkbox group. Apply a `.sb-checkbox-group` class to the checkbox wrapper.
//
// Browser support: IE9+, Safari6+, Firefox30+, Chrome30+
//
// Markup:
// <div class="sb-checkbox-group {{modifier_class}}" role="group">
//   <div class="sb-checkbox">
//     <input type="checkbox" id="checkbox-4-{{modifier_class}}" class="sb-checkbox__input">
//     <label class="sb-checkbox__label" for="checkbox-4-{{modifier_class}}">
//       <span class="sb-checkbox__faux">
//         <svg class="sb-checkbox__checkmark" viewBox="0 0 8 7">
//           <path d="M7.68025,0 C5.067,1.97775 2.56075,4.6235 2.56075,4.6235 L0.7545,3 L0,3.7685 C0.74225,4.46625 2.46225,6.30925 3.044,7 C4.6815,4.26425 6.38375,2.224 8,0.3585 L7.68025,0 Z"></path>
//         </svg>
//       </span>
//       <span class="sb-margin-left-xs">Basic checkbox</span>
//     </label>
//   </div>
//   <div class="sb-checkbox">
//     <input type="checkbox" id="checkbox-5-{{modifier_class}}" class="sb-checkbox__input">
//     <label class="sb-checkbox__label" for="checkbox-5-{{modifier_class}}">
//       <span class="sb-checkbox__faux">
//         <svg class="sb-checkbox__checkmark" viewBox="0 0 8 7">
//           <path d="M7.68025,0 C5.067,1.97775 2.56075,4.6235 2.56075,4.6235 L0.7545,3 L0,3.7685 C0.74225,4.46625 2.46225,6.30925 3.044,7 C4.6815,4.26425 6.38375,2.224 8,0.3585 L7.68025,0 Z"></path>
//         </svg>
//       </span>
//       <span class="sb-margin-left-xs">Basic checkbox</span>
//     </label>
//   </div>
//   <div class="sb-checkbox">
//     <input type="checkbox" id="checkbox-6-{{modifier_class}}" class="sb-checkbox__input">
//     <label class="sb-checkbox__label" for="checkbox-6-{{modifier_class}}">
//       <span class="sb-checkbox__faux">
//         <svg class="sb-checkbox__checkmark" viewBox="0 0 8 7">
//           <path d="M7.68025,0 C5.067,1.97775 2.56075,4.6235 2.56075,4.6235 L0.7545,3 L0,3.7685 C0.74225,4.46625 2.46225,6.30925 3.044,7 C4.6815,4.26425 6.38375,2.224 8,0.3585 L7.68025,0 Z"></path>
//         </svg>
//       </span>
//       <span class="sb-margin-left-xs">Basic checkbox</span>
//     </label>
//   </div>
// </div>
//
// .sb-checkbox-group--inline - checkbox group aligned horizontally
//
// Styleguide Components.checkbox.group

.#{$ns}checkbox-group {
  .#{$ns}checkbox + .#{$ns}checkbox {
    @extend %sb-group-input;
  }
}

.#{$ns}checkbox-group--inline {
  .#{$ns}checkbox {
    @extend %sb-group-input-inline;
  }

  .#{$ns}checkbox:last-child {
    @extend %sb-group-input-inline-last;
  }
}

// Validation
//
// A basic checkbox group with label and validation.
//
// Browser support: IE9+, Safari6+, Firefox30+, Chrome30+
//
// Markup:
// <div class="sb-form-control {{modifier_class}}">
//   <label class="sb-label" for="checkbox-group-id-{{modifier_class}}">Button Group label</label>
//   <div class="sb-checkbox-group--inline" id="checkbox-group-id-{{modifier_class}}" role="group">
//     <div class="sb-checkbox">
//       <input type="checkbox" id="checkbox-7-{{modifier_class}}" class="sb-checkbox__input">
//       <label class="sb-checkbox__label" for="checkbox-7-{{modifier_class}}">
//         <span class="sb-checkbox__faux">
//           <svg class="sb-checkbox__checkmark" viewBox="0 0 8 7">
//             <path d="M7.68025,0 C5.067,1.97775 2.56075,4.6235 2.56075,4.6235 L0.7545,3 L0,3.7685 C0.74225,4.46625 2.46225,6.30925 3.044,7 C4.6815,4.26425 6.38375,2.224 8,0.3585 L7.68025,0 Z"></path>
//           </svg>
//         </span>
//         <span class="sb-margin-left-xs">Basic checkbox</span>
//       </label>
//     </div>
//     <div class="sb-checkbox">
//       <input type="checkbox" id="checkbox-8-{{modifier_class}}" class="sb-checkbox__input">
//       <label class="sb-checkbox__label" for="checkbox-8-{{modifier_class}}">
//         <span class="sb-checkbox__faux">
//           <svg class="sb-checkbox__checkmark" viewBox="0 0 8 7">
//             <path d="M7.68025,0 C5.067,1.97775 2.56075,4.6235 2.56075,4.6235 L0.7545,3 L0,3.7685 C0.74225,4.46625 2.46225,6.30925 3.044,7 C4.6815,4.26425 6.38375,2.224 8,0.3585 L7.68025,0 Z"></path>
//           </svg>
//         </span>
//         <span class="sb-margin-left-xs">Basic checkbox</span>
//       </label>
//     </div>
//     <div class="sb-checkbox">
//       <input type="checkbox" id="checkbox-9-{{modifier_class}}" class="sb-checkbox__input">
//       <label class="sb-checkbox__label" for="checkbox-9-{{modifier_class}}">
//         <span class="sb-checkbox__faux">
//           <svg class="sb-checkbox__checkmark" viewBox="0 0 8 7">
//             <path d="M7.68025,0 C5.067,1.97775 2.56075,4.6235 2.56075,4.6235 L0.7545,3 L0,3.7685 C0.74225,4.46625 2.46225,6.30925 3.044,7 C4.6815,4.26425 6.38375,2.224 8,0.3585 L7.68025,0 Z"></path>
//           </svg>
//         </span>
//         <span class="sb-margin-left-xs">Basic checkbox</span>
//       </label>
//     </div>
//   </div>
//   <p role="alert" class="sb-form-control__validation">Error message here.</p>
// </div>
//
// .sb-form-control--invalid - invalid group
//
// Styleguide Components.checkbox.validation
