// Dropdown
//
// Basic dropdown
//
// Browser support: IE9+, Safari6+, Firefox30+, Chrome30+
//
// Markup:
//  <div class="sb-form-control">
//    <label class="sb-label" for="dropdown-id-{{modifier_class}}">Choose an option</label>
//    <div class="sb-dropdown {{modifier_class}}" id="dropdown-id-{{modifier_class}}">
//      <div class="sb-dropdown__button sb-form-control__input">
//        <button class="sb-input" aria-label="Choose an option" aria-expanded="false">
//          Choice 1
//        </button>
//        <svg class="sb-icon" viewBox="-5 -5 16 16"><path d="M0 0l3.5 4L7 0H0"></svg>
//      </div>
//      <ul class="sb-dropdown__menu" role="listbox">
//        <li class="sb-dropdown__menu-item" tabindex="0" role="option">Choice 1</li>
//        <li class="sb-dropdown__menu-item" tabindex="0" role="option">Choice 2</li>
//        <li class="sb-dropdown__menu-item" tabindex="0" role="option">Choice 3</li>
//      </ul>
//    </div>
//  </div>
//
// .sb-dropdown--open - open dropdown
//
// Styleguide Components.dropdown

.#{$ns}dropdown {
  position: relative;
  font-family: $sb-base-font-family;
  font-size: sb-px2rems(13px);
  color: $sb-color-dark-3;

  &__button {
    z-index: $sb-z-btn;

    .#{$ns}input {
      padding-right: sb-px2rems(30px);
      cursor: pointer;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .#{$ns}icon {
      display: inline;
      pointer-events: none;
    }
  }

  &__menu {
    display: none;
    position: absolute;
    width: 100%;
    background-color: $sb-color-white;
    border-radius: 0 0 sb-px2rems($sb-radius) sb-px2rems($sb-radius);
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 300px;
    overflow-y: scroll;
    z-index: $sb-z-dropdown;
    border: 1px solid $sb-color-light-3;
    border-top: none;
  }

  &__menu-item {
    padding: sb-px2rems(11px);
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: $sb-color-light-4;
    }

    &:active {
      background-color: $sb-color-blue-4;
    }

    &:focus {
      outline: none;
    }

    &--selected {
      background-color: $sb-color-blue-4;
    }

    .#{$ns}checkbox {
      pointer-events: none;
    }
  }

  &__search .#{$ns}input {
    border-radius: 0;
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid $sb-color-light-3;
  }

  &__message {
    padding: sb-px2rems(11px);
    color: $sb-color-light-1;
  }

  &--open {
    .#{$ns}dropdown__button .#{$ns}input:hover,
    .#{$ns}dropdown__button .#{$ns}input:focus {
      box-shadow: none;
    }

    .#{$ns}dropdown__menu {
      display: block;
    }

    .#{$ns}icon {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

// Multiselect
//
//JavaScript is required for:
// - Checking/Unchecking the checkbox on row click
// - Updating aria-expanded value
// - Updating the button text with the number of selected items
//
// Browser support: IE9+, Safari6+, Firefox30+, Chrome30+
//
// Markup:
// <div class="sb-form-control">
//   <label class="sb-label" for="dropdown-id-multiselect">Select options</label>
//   <div class="sb-dropdown sb-dropdown--open" id="dropdown-id-multiselect">
//     <div class="sb-dropdown__button sb-form-control__input">
//       <button class="sb-input" aria-label="Select options" aria-expanded="true">
//         Select options
//       </button>
//       <svg class="sb-icon" viewBox="-5 -5 16 16"><path d="M0 0l3.5 4L7 0H0"></svg>
//     </div>
//     <ul class="sb-dropdown__menu" role="listbox">
//       <li class="sb-dropdown__menu-item" tabindex="0" role="option">
//         <div class="sb-checkbox">
//           <input type="checkbox" id="checkbox-dropdown-1" class="sb-checkbox__input" tabindex="-1">
//           <label class="sb-checkbox__label" for="checkbox-dropdown-1">
//             <span class="sb-checkbox__faux">
//               <svg class="sb-checkbox__checkmark" viewBox="0 0 8 7">
//                 <path d="M7.68025,0 C5.067,1.97775 2.56075,4.6235 2.56075,4.6235 L0.7545,3 L0,3.7685 C0.74225,4.46625 2.46225,6.30925 3.044,7 C4.6815,4.26425 6.38375,2.224 8,0.3585 L7.68025,0 Z"></path>
//               </svg>
//             </span>
//             <span class="sb-margin-left-xs">Choice 1</span>
//           </label>
//         </div>
//       </li>
//       <li class="sb-dropdown__menu-item sb-dropdown__menu-item--selected" tabindex="0" role="option">
//         <div class="sb-checkbox">
//           <input type="checkbox" id="checkbox-dropdown-2" class="sb-checkbox__input" tabindex="-1" checked>
//           <label class="sb-checkbox__label" for="checkbox-dropdown-2">
//             <span class="sb-checkbox__faux">
//               <svg class="sb-checkbox__checkmark" viewBox="0 0 8 7">
//                 <path d="M7.68025,0 C5.067,1.97775 2.56075,4.6235 2.56075,4.6235 L0.7545,3 L0,3.7685 C0.74225,4.46625 2.46225,6.30925 3.044,7 C4.6815,4.26425 6.38375,2.224 8,0.3585 L7.68025,0 Z"></path>
//               </svg>
//             </span>
//             <span class="sb-margin-left-xs">Choice 2</span>
//           </label>
//         </div>
//       </li>
//       <li class="sb-dropdown__menu-item" tabindex="0" role="option">
//         <div class="sb-checkbox">
//           <input type="checkbox" id="checkbox-dropdown-3" class="sb-checkbox__input" tabindex="-1">
//           <label class="sb-checkbox__label" for="checkbox-dropdown-3">
//             <span class="sb-checkbox__faux">
//               <svg class="sb-checkbox__checkmark" viewBox="0 0 8 7">
//                 <path d="M7.68025,0 C5.067,1.97775 2.56075,4.6235 2.56075,4.6235 L0.7545,3 L0,3.7685 C0.74225,4.46625 2.46225,6.30925 3.044,7 C4.6815,4.26425 6.38375,2.224 8,0.3585 L7.68025,0 Z"></path>
//               </svg>
//             </span>
//             <span class="sb-margin-left-xs">Choice 3</span>
//           </label>
//         </div>
//       </li>
//     </ul>
//   </div>
// </div>
//
// Styleguide Components.dropdown.multiselect

// Search
//
// JavaScript is required for:
// - Checking/Unchecking the checkbox on row click
// - Filtering the menu items based on the search input
// - Updating the button text with the number of selected items
//
// Browser support: IE10+, Safari6+, Firefox30+, Chrome30+
//
// Markup:
// <div class="sb-form-control">
//   <label class="sb-label" for="dropdown-id-search">Select options</label>
//   <div class="sb-dropdown sb-dropdown--open" id="dropdown-id-search">
//     <div class="sb-dropdown__button sb-form-control__input">
//       <button class="sb-input" aria-label="One item selected">
//        One item selected
//       </button>
//       <svg class="sb-icon" viewBox="-5 -5 16 16"><path d="M0 0l3.5 4L7 0H0"></svg>
//     </div>
//     <ul class="sb-dropdown__menu" role="listbox">
//       <li class="sb-dropdown__search" role="search">
//         <input class="sb-input" id="input-id-1" placeholder="Search here ..." aria-label="Search">
//       </li>
//       <li class="sb-dropdown__menu-item sb-dropdown__menu-item--selected" tabindex="0" role="option">
//         <div class="sb-checkbox">
//           <input type="checkbox" id="checkbox-dropdown-1" class="sb-checkbox__input" tabindex="-1" checked>
//           <label class="sb-checkbox__label" for="checkbox-dropdown-1">
//             <span class="sb-checkbox__faux">
//               <svg class="sb-checkbox__checkmark" viewBox="0 0 8 7">
//                 <path d="M7.68025,0 C5.067,1.97775 2.56075,4.6235 2.56075,4.6235 L0.7545,3 L0,3.7685 C0.74225,4.46625 2.46225,6.30925 3.044,7 C4.6815,4.26425 6.38375,2.224 8,0.3585 L7.68025,0 Z"></path>
//               </svg>
//             </span>
//             <span class="sb-margin-left-xs">Choice 1</span>
//           </label>
//         </div>
//       </li>
//       <li class="sb-dropdown__menu-item" tabindex="0" role="option">
//         <div class="sb-checkbox">
//           <input type="checkbox" id="checkbox-dropdown-2" class="sb-checkbox__input" tabindex="-1">
//           <label class="sb-checkbox__label" for="checkbox-dropdown-2">
//             <span class="sb-checkbox__faux">
//               <svg class="sb-checkbox__checkmark" viewBox="0 0 8 7">
//                 <path d="M7.68025,0 C5.067,1.97775 2.56075,4.6235 2.56075,4.6235 L0.7545,3 L0,3.7685 C0.74225,4.46625 2.46225,6.30925 3.044,7 C4.6815,4.26425 6.38375,2.224 8,0.3585 L7.68025,0 Z"></path>
//               </svg>
//             </span>
//             <span class="sb-margin-left-xs">Choice 2</span>
//           </label>
//         </div>
//       </li>
//     </ul>
//   </div>
// </div>
//
// Styleguide Components.dropdown.search

// No search results
//
// Browser support: IE10+, Safari6+, Firefox30+, Chrome30+
//
// Markup:
// <div class="sb-form-control">
//   <label class="sb-label" for="dropdown-id-search-no-results">Select options</label>
//   <div class="sb-dropdown sb-dropdown--open" id="dropdown-id-search-no-results">
//     <div class="sb-dropdown__button sb-form-control__input">
//       <button class="sb-input" aria-label="Select options">
//        Select options
//       </button>
//       <svg class="sb-icon" viewBox="-5 -5 16 16"><path d="M0 0l3.5 4L7 0H0"></svg>
//     </div>
//     <ul class="sb-dropdown__menu" role="listbox">
//       <li class="sb-dropdown__search" role="search">
//         <input class="sb-input" id="input-id-2" placeholder="Search here ..." aria-label="Search">
//       </li>
//       <li class="sb-dropdown__message" tabindex="0" aria-label="No results">
//         No results
//       </li>
//     </ul>
//   </div>
// </div>
//
// Styleguide Components.dropdown.no-search-results

// Disabled
//
// Browser support: IE9+, Safari6+, Firefox30+, Chrome30+
//
// Markup:
//  <div class="sb-form-control">
//    <label class="sb-label" for="dropdown-id-disabled">Choose an option</label>
//    <div class="sb-dropdown {{modifier_class}}" id="dropdown-id-disabled">
//      <div class="sb-dropdown__button sb-form-control__input">
//       <button class="sb-input" aria-label="Choose an option" disabled aria-expanded="false">
//         Choice 1
//       </button>
//       <svg class="sb-icon" viewBox="-5 -5 16 16"><path d="M0 0l3.5 4L7 0H0"></svg>
//      </div>
//      <ul class="sb-dropdown__menu" role="listbox">
//        <li class="sb-dropdown__menu-item" tabindex="0" role="option">Choice 1</li>
//        <li class="sb-dropdown__menu-item" tabindex="0" role="option">Choice 2</li>
//        <li class="sb-dropdown__menu-item" tabindex="0" role="option">Choice 3</li>
//      </ul>
//    </div>
//  </div>
//
// Styleguide Components.dropdown.disabled

// Validation
//
// Dropdown error validation
//
// Browser support: IE9+, Safari6+, Firefox30+, Chrome30+
//
// Markup:
// <div class="sb-form-control {{modifier_class}}">
//    <label class="sb-label" for="dropdown-id-{{modifier_class}}">Choose an option</label>
//    <div class="sb-dropdown" id="dropdown-id-{{modifier_class}}">
//      <div class="sb-dropdown__button sb-form-control__input">
//        <button class="sb-input" aria-label="Choose an option" aria-expanded="false">
//          Choice 1
//        </button>
//        <svg class="sb-icon" viewBox="-5 -5 16 16"><path d="M0 0l3.5 4L7 0H0"></svg>
//      </div>
//      <ul class="sb-dropdown__menu" role="listbox">
//        <li class="sb-dropdown__menu-item" tabindex="0" role="option">Choice 1</li>
//        <li class="sb-dropdown__menu-item" tabindex="0" role="option">Choice 2</li>
//        <li class="sb-dropdown__menu-item" tabindex="0" role="option">Choice 3</li>
//      </ul>
//    </div>
//    <p role="alert" class="sb-form-control__validation">Error message here.</p>
//  </div>
//
// .sb-form-control--invalid - invalid dropdown
//
// Styleguide Components.dropdown.validation
