// Dropdown
//
// Basic dropdown
//
// .sb-dropdown--open - open dropdown
//
// Markup:
//  <div class="sb-form-control">
//    <label class="sb-label sb-padding-bottom-xs">Choose an option</label>
//    <div class="sb-dropdown {{modifier_class}}">
//      <div class="sb-dropdown__button sb-input-wrapper">
//        <button class="sb-input">
//          Choice 1
//        </button>
//        <svg class="sb-icon" viewBox="-5 -5 16 16"><path d="M0 0l3.5 4L7 0H0"></svg>
//      </div>
//      <ul class="sb-dropdown__menu" role="listbox">
//        <li class="sb-dropdown__menu-item" tabindex="0" role="option">Choice 1</li>
//        <li class="sb-dropdown__menu-item" tabindex="0" role="option">Choice 2</li>
//        <li class="sb-dropdown__menu-item" tabindex="0" role="option">Choice 3</li>
//      </ul>
//    </div>
//  </div>
//
// Styleguide dropdown

.#{$ns}dropdown {
  font-family: $sb-base-font-family;
  font-size: sb-px2rems(13px);

  &__button {
    z-index: 1;

    .#{$ns}input {
      cursor: pointer;
      position: relative;
      text-align: left;
    }

    .#{$ns}icon {
      display: inline;
    }
  }

  &__menu {
    display: none;
    position: absolute;
    width: 100%;
    background-color: $sb-color-white;
    border: 1px solid $sb-color-light-3;
    border-radius: 0 0 sb-px2rems($sb-radius) sb-px2rems($sb-radius);
    cursor: pointer;
    list-style: none;
    padding: 0;
    margin: -1px 0 0 0;
  }

  &__menu-item {
    padding: sb-px2rems(11px);

    &:hover {
      background-color: $sb-color-light-4;
    }

    &:focus {
      background-color: $sb-color-blue-4;
      outline: none;
    }

    &:active {
      background-color: $sb-color-blue-4;
    }
  }

  &--open {
    .#{$ns}dropdown__button .#{$ns}input:hover,
    .#{$ns}dropdown__button .#{$ns}input:focus {
      box-shadow: none;
    }

    .#{$ns}dropdown__menu {
      display: block;
    }
  }
}

// Dropdown disabled
//
// Markup:
//  <div class="sb-form-control">
//    <label class="sb-label sb-padding-bottom-xs">Choose an option</label>
//    <div class="sb-dropdown {{modifier_class}}">
//      <div class="sb-dropdown__button sb-input-wrapper">
//       <button class="sb-input" disabled>
//         Choice 1
//       </button>
//       <svg class="sb-icon" viewBox="-5 -5 16 16"><path d="M0 0l3.5 4L7 0H0"></svg>
//      </div>
//      <ul class="sb-dropdown__menu" role="listbox">
//        <li class="sb-dropdown__menu-item" tabindex="0" role="option">Choice 1</li>
//        <li class="sb-dropdown__menu-item" tabindex="0" role="option">Choice 2</li>
//        <li class="sb-dropdown__menu-item" tabindex="0" role="option">Choice 3</li>
//      </ul>
//    </div>
//  </div>
//
// Styleguide dropdown.disabled

// Dropdown with validation
//
// Dropdown error validation
//
// .sb-form-control--invalid - invalid dropdown
//
// Markup:
// <div class="sb-form-control {{modifier_class}}">
//    <label class="sb-label sb-padding-bottom-xs">Choose an option</label>
//    <div class="sb-dropdown">
//      <div class="sb-dropdown__button sb-input-wrapper">
//        <button class="sb-input">
//          Choice 1
//        </button>
//        <svg class="sb-icon" viewBox="-5 -5 16 16"><path d="M0 0l3.5 4L7 0H0"></svg>
//      </div>
//      <ul class="sb-dropdown__menu" role="listbox">
//        <li class="sb-dropdown-menu-item" tabindex="0" role="option">Choice 1</li>
//        <li class="sb-dropdown-menu-item" tabindex="0" role="option">Choice 2</li>
//        <li class="sb-dropdown-menu-item" tabindex="0" role="option">Choice 3</li>
//      </ul>
//    </div>
//    <p role="alert" class="sb-form-control__validation">Error message here.</p>
//  </div>
//
// Styleguide dropdown.validation
//
