// Form Control
//
// The form control component. A container for form elements that helps position icons and validation messages.
//
// JavaScript is required for adding/removing validation classes.
//
// Browser support: IE9+, Safari6+, Firefox30+, Chrome30+
//
// Markup:
// <div class="sb-form-control {{modifier_class}}">
//   <label class="sb-label" for="text-form-input-id-{{modifier_class}}">Input Label</label>
//   <div class="sb-form-control__input">
//     <input class="sb-input" type="text" id="text-form-input-id-{{modifier_class}}" placeholder="Placeholder Text">
//   </div>
//   <p role="alert" class="sb-form-control__validation">Error message here.</p>
// </div>
//
// .sb-form-control--invalid - invalid input
//
// Styleguide Components.form

.#{$ns}form-control {
  &__validation {
    display: none;
    margin-top: sb-px2rems(7px);
    font-family: $sb-base-font-family;
    font-size: sb-px2rems(13px);
    color: $sb-color-red-2;
  }

  &--invalid {
    .#{$ns}input {
      border: 1px solid $sb-color-red-2;
    }
  }

  &--invalid &__validation {
    display: block;
  }

  &__input {
    position: relative;

    .#{$ns}icon {
      position: absolute;
      top: 50%;
      right: sb-px2rems(7px);
      transform: translateY(-50%);
    }
  }
}
