// Form Control
//
// The form control component. A container for form elements that helps position icons and validation messages.
//
// JavaScript is required for adding/removing validation classes.
//
// Browser support: IE9+, Safari6+, Firefox30+, Chrome30+
//
// Markup:
// <div class="sb-form-control {{modifier_class}}">
//   <label class="sb-label" for="text-form-input-id-{{modifier_class}}">Input Label</label>
//   <div class="sb-form-control__input">
//     <input class="sb-input" type="text" id="text-form-input-id-{{modifier_class}}" placeholder="Placeholder Text">
//     <svg class="sb-icon sb-icon--error" viewBox="0 0 16 16">
//       <path d="M6.17647059,7 L3.5,9.67647059 L4.32352941,10.5 L7,7.82352941 L9.67647059,10.5 L10.5,9.67647059 L7.82352941,7 L10.5,4.32352941 L9.67647059,3.5 L7,6.17647059 L4.32352941,3.5 L3.5,4.32352941 L6.17647059,7 Z M7,0 C10.8661875,0 14,3.1338125 14,7 C14,10.8661875 10.8661875,14 7,14 C3.1338125,14 0,10.8661875 0,7 C0,3.1338125 3.1338125,0 7,0 Z"></path>
//     </svg>
//     <svg class="sb-icon sb-icon--success" viewBox="0 0 16 16">
//       <path d="M7,0 C3.1338125,0 0,3.1338125 0,7 C0,10.8661875 3.1338125,14 7,14 C10.8661875,14 14,10.8661875 14,7 C14,3.1338125 10.8661875,0 7,0 M5.57852066,10.5 L2.625,6.82666099 L3.93391119,5.5225724 L5.57896647,7.51873935 L10.733473,3.5 L11.375,4.11158433 L5.57852066,10.5"></path>
//     </svg>
//   </div>
//   <p role="alert" class="sb-form-control__validation">Error message here.</p>
// </div>
//
// .sb-form-control--invalid - invalid input
// .sb-form-control--success - success input
//
// Styleguide forms

.#{$ns}form-control {
  &__validation {
    display: none;
    margin-top: sb-px2rems(7px);
    font-size: sb-px2rems(13px);
    color: $sb-color-red-1;
  }

  .#{$ns}icon--error,
  .#{$ns}icon--success {
    display: none;
  }

  &--success {
    .#{$ns}icon--success {
      display: inline;
    }

    .#{$ns}input {
      padding-right: sb-px2rems(30px);
    }
  }

  &--invalid {
    .#{$ns}icon--error {
      display: inline;
    }

    .#{$ns}input {
      padding-right: sb-px2rems(30px);
    }
  }

  &--invalid &__validation {
    display: block;
  }

  &__input {
    position: relative;

    .#{$ns}icon {
      position: absolute;
      top: 50%;
      right: sb-px2rems(7px);
      transform: translateY(-50%);
    }

    .#{$ns}input:disabled ~ .#{$ns}icon {
      fill: $sb-color-light-3;
    }
  }
}
