// Header
//
// Header including title, optional back button, info text and action button.
//
// Markup:
// <header class="sb-header">
//   <button class="sb-header__back" aria-label="Back">
//     <svg class="sb-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 640 640">
//       <path d="M448 640c4.095 0 8.189-1.562 11.313-4.687 6.249-6.248 6.249-16.379 0-22.627l-276.686-276.686 276.686-276.687c6.249-6.248 6.249-16.379 0-22.627s-16.379-6.249-22.627 0l-288 288c-6.249 6.248-6.249 16.379 0 22.627l288 288c3.125 3.125 7.219 4.687 11.314 4.687z"></path>
//     </svg>
//   </button>
//   <h1 class="sb-header__title sb-title">Header title</h1>
//   <p class="sb-header__info sb-text">Info regarding this page</p>
//   <a href="#" class="sb-header__btn sb-btn sb-btn--primary">Action button</a>
// </header>
//
// Styleguide 12.

.#{$ns}header {
  box-shadow: $sb-box-shadow-subtle;
  overflow: auto;

  &__title,
  &__info {
    float: left;
    margin: sb-px2rems(7px);
  }

  &__title {
    margin-left: sb-px2rems(16px);
    line-height: sb-px2rems(33px);
  }

  &__info {
    line-height: sb-px2rems(37px);
  }

  &__btn {
    float: right;
    margin: sb-px2rems(7px) sb-px2rems(16px);
  }
}

.#{$ns}header__back {
  border: 0;
  border-right: 1px solid $sb-color-light-4;
  float: left;
  padding: sb-px2rems(16px);
  position: relative;

  &:active,
  &:focus {
    background-color: $sb-color-light-4;
    outline: none;
  }

  .#{$ns}icon {
    color: $sb-color-dark-3;
  }

  &:hover .#{$ns}icon {
    color: inherit;
  }
}
