// Input and Label
//
// Basic input and label components that should be used for email, number, password, tel, text and url inputs.
// They are also used to apply standard form styling to other components such as upload and dropdown.
// If you would like to apply validation styles and messages, check out the form control component.
//
// Markup:
// <label class="sb-label" for="input-id-1">Input Label</label>
// <input class="sb-input" id="input-id-1" placeholder="Placeholder Text">
//
// Styleguide input

$padding-input-element: sb-px2rems(11px);

.#{$ns}input {
  @include sb-font-text-small();

  width: 100%;
  border-radius: sb-px2rems($sb-radius);
  border: 1px solid $sb-color-light-3;
  background-color: $sb-color-white;
  padding: $padding-input-element;
  color: $sb-color-dark-3;

  &::placeholder {
    color: $sb-color-light-1;
  }

  &:hover {
    box-shadow: $sb-box-shadow;
  }

  &:focus {
    @include sb-focus();
  }

  &:active {
    border-color: $sb-color-blue-2;
    color: $sb-color-dark-3;
  }

  &:disabled {
    border-color: $sb-color-light-4;
    color: $sb-color-light-3;
  }
}

.#{$ns}label {
  display: inline-block;
  margin-bottom: sb-px2rems(7px);
}

// Input with info
//
// .sb-input__wrapper--hide-info - hide info element
//
// Markup:
// <label class="sb-label" for="input-id-2">Input Label</label>
// <div class="sb-input__wrapper {{modifier_class}}">
//  <span class="sb-input__info">20 items</span>
//  <input type="text" class="sb-input" id="input-id-2" placeholder="Placeholder Text">
// </div>
//
// Styleguide input.info

.#{$ns}input__wrapper {
  position: relative;

  .#{$ns}input__info {
    @include sb-font-text-small();

    color: $sb-color-blue-1;
    position: absolute;
    bottom: $padding-input-element;
    left: $padding-input-element;
    line-height: 1.4;
  }

  .#{$ns}input {
    padding-left: sb-px2rems(53.19px) + (2 * $padding-input-element);
  }

  &--hide-info {
    .#{$ns}input__info {
      display: none;
    }

    .#{$ns}input {
      padding-left: $padding-input-element;
    }
  }
}

