// Input
//
// A basic input component that should be used for email, number, password, tel, text and url inputs.
//
// Markup:
// <div class="sb-form-control">
//   <label class="sb-label sb-padding-bottom-xs" for="input-id-1">Input Label</label>
//   <div class="sb-input-wrapper">
//     <input id="input-id-1" class="sb-input" placeholder="Placeholder Text">
//   </div>
// </div>
//
// Styleguide input

.#{$ns}input {
  width: 100%;
  border-radius: sb-px2rems($sb-radius);
  border: 1px solid $sb-color-light-3;
  background-color: $sb-color-white;
  padding: sb-px2rems(11px);
  font-family: $sb-base-font-family;
  font-weight: 400;
  font-size: sb-px2rems(13px);
  color: $sb-color-dark-3;

  &::placeholder {
    color: $sb-color-light-1;
  }

  &:hover {
    box-shadow: $sb-box-shadow;
  }

  &:focus {
    border-color: $sb-color-blue-2;
    box-shadow: $sb-box-shadow;
    outline: none;
  }

  &:active {
    border-color: $sb-color-blue-2;
    color: $sb-color-dark-3;
  }

  &:disabled {
    border-color: $sb-color-light-4;
    color: $sb-color-light-3;
  }
}

// Input with validation
//
// A basic input with success and error validation
//
// .sb-form-control--invalid - invalid input
// .sb-form-control--success - success input
//
// Markup:
// <div class="sb-form-control {{modifier_class}}">
//   <label class="sb-label sb-padding-bottom-xs" for="text-input-id-1">Input Label</label>
//   <div class="sb-input-wrapper">
//     <input type="text" id="text-input-id-1" class="sb-input" placeholder="Placeholder Text">
//     <svg class="sb-icon sb-icon--input sb-icon--error" id="sb-icon-error" viewBox="0 0 16 16">
//       <path d="M6.17647059,7 L3.5,9.67647059 L4.32352941,10.5 L7,7.82352941 L9.67647059,10.5 L10.5,9.67647059 L7.82352941,7 L10.5,4.32352941 L9.67647059,3.5 L7,6.17647059 L4.32352941,3.5 L3.5,4.32352941 L6.17647059,7 Z M7,0 C10.8661875,0 14,3.1338125 14,7 C14,10.8661875 10.8661875,14 7,14 C3.1338125,14 0,10.8661875 0,7 C0,3.1338125 3.1338125,0 7,0 Z"></path>
//     </svg>
//     <svg class="sb-icon sb-icon--input sb-icon--success" id="sb-icon-success" viewBox="0 0 16 16">
//       <path d="M7,0 C3.1338125,0 0,3.1338125 0,7 C0,10.8661875 3.1338125,14 7,14 C10.8661875,14 14,10.8661875 14,7 C14,3.1338125 10.8661875,0 7,0 M5.57852066,10.5 L2.625,6.82666099 L3.93391119,5.5225724 L5.57896647,7.51873935 L10.733473,3.5 L11.375,4.11158433 L5.57852066,10.5"></path>
//     </svg>
//   </div>
//   <p class="sb-form-control__validation">Error message here.</p>
// </div>
//
// Styleguide input.validation

.#{$ns}input-wrapper {
  position: relative;

  .#{$ns}input {
    padding-right: sb-px2rems(23px);
  }

  .#{$ns}icon--input {
    display: none;
  }
}

// TODO - Move styles to separate form controls component
// https://usabilla.atlassian.net/browse/STYLE-44

.#{$ns}form-control {
  &__validation {
    display: none;
    margin-top: sb-px2rems(7px);
    font-size: sb-px2rems(13px);
    color: $sb-color-red-1;
  }

  &--invalid .#{$ns}icon--error {
    display: inline;
  }

  &--invalid &__validation {
    display: block;
  }

  &--success .#{$ns}icon--success {
    display: inline;
  }
}
