// Input
//
// A basic input component that should be used for email, number, password, tel, text and url inputs.
//
// Markup:
// <div class="sb-form-control">
//   <label class="sb-label sb-padding-bottom-xs" for="input-id-1">Input Label</label>
//   <div class="sb-input-wrapper">
//     <input id="input-id-1" class="sb-input" placeholder="Placeholder Text">
//   </div>
// </div>
//
// Styleguide input

.#{$ns}input {
  width: 100%;
  border-radius: sb-px2rems($sb-radius);
  border: 1px solid $sb-color-light-3;
  background-color: $sb-color-white;
  padding: sb-px2rems(11px);
  font-family: $sb-base-font-family;
  font-weight: 400;
  font-size: sb-px2rems(13px);
  color: $sb-color-dark-3;

  &::placeholder {
    color: $sb-color-light-1;
  }

  &:hover {
    box-shadow: $sb-box-shadow;
  }

  &:focus {
    @include sb-focus();
  }

  &:active {
    border-color: $sb-color-blue-2;
    color: $sb-color-dark-3;
  }

  &:disabled {
    border-color: $sb-color-light-4;
    color: $sb-color-light-3;
  }
}
