/* stylelint-disable at-rule-blacklist */

// Loader
//
// Simple loader, witn inline option.
// For a loader inside a button, check the <a href="section-components.html#kssref-components-button-loader">Button Loader</a> component.
//
// Browser support: IE10+, Safari6.2+, Firefox31+, Chrome30+
//
// Markup:
// <div class="sb-loader {{modifier_class}}" role="alert" aria-busy="true">
//   <svg viewBox="0 0 50 50" class="sb-spinner" aria-hidden="true">
//     <defs>
//       <path id="path-loader-{{modifier_class}}" d="M25 50C11.2 50 0 38.8 0 25S11.2 0 25 0s25 11.2 25 25-11.2 25-25 25zm0-6.5c10.2 0 18.5-8.3 18.5-18.5S35.2 6.5 25 6.5 6.5 14.8 6.5 25 14.8 43.5 25 43.5z"/>
//     </defs>
//     <g fill="none" fill-rule="evenodd">
//       <mask id="mask-loader-{{modifier_class}}" fill="#fff">
//         <use xlink:href="#path-loader-{{modifier_class}}"/>
//       </mask>
//       <use class="sb-spinner__secondary" transform="matrix(-1 0 0 1 50 0)" xlink:href="#path-loader-{{modifier_class}}"/>
//       <path class="sb-spinner__primary" d="M0 0h26v26H0z" mask="url(#mask-loader-{{modifier_class}})"/>
//       <path class="sb-spinner__primary" d="M6.5 26c0 2-1.4 3.3-3.2 3.3C1.5 29.3 0 28 0 26h6.5z" mask="url(#mask-loader-{{modifier_class}})" transform="matrix(-1 0 0 1 6.522 0)"/>
//       <path class="sb-spinner__primary" d="M29.3 0C27.5 0 26 1.5 26 3.3c0 1.8 1.5 3.2 3.3 3.2V0z" mask="url(#mask-loader-{{modifier_class}})" transform="matrix(-1 0 0 1 55.435 0)"/>
//     </g>
//   </svg>
//   <span class="sb-loader__label">Loading page, please wait</span>
// </div>
//
// .sb-loader--inline - Inline loader
//
// Styleguide Components.loader

$sb-loader-spinner-size: sb-px2rems(50px);
$sb-loader-spinner-size--inline: sb-px2rems(16px);
$sb-loader-padding: sb-px2rems(16px);
$sb-loader-padding--inline: sb-px2rems(11px);

.#{$ns}spinner {
  @extend .#{$ns}animation--spin;

  display: inline-block;
  width: $sb-loader-spinner-size;
  height: $sb-loader-spinner-size;

  &__primary {
    fill: $sb-color-blue-2;

    .sb-btn--primary & {
      fill: $sb-color-white;
    }
  }

  &__secondary {
    fill: $sb-color-light-3;
  }
}

.#{$ns}loader {
  position: relative;
  text-align: center;

  &__label {
    display: block;
    padding: $sb-loader-padding 0;
  }

  &--button,
  &--inline {
    .#{$ns}spinner {
      height: $sb-loader-spinner-size--inline;
      width: $sb-loader-spinner-size--inline;
    }
  }

  &--inline {
    background: $sb-color-white;
    border: 1px solid $sb-color-light-3;
    border-radius: $sb-radius;
    padding: 0 $sb-loader-padding--inline * 2 + $sb-loader-spinner-size--inline 0 $sb-loader-padding--inline;
    text-align: left;

    .#{$ns}loader__label {
      padding: $sb-loader-padding--inline 0;
    }

    .#{$ns}spinner {
      position: absolute;
      top: 50%;
      right: $sb-loader-padding--inline;
      margin-top: -1 * $sb-loader-spinner-size--inline / 2;
    }
  }

  &--button {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
