// Preview
//
// Preview area.
//
// Browser support: IE9+, Safari6+, Firefox30+, Chrome30+
//
// Markup:
// <div class="sb-preview {{modifier_class}}">
//   <div class="sb-preview__frame">
//     <p class="sb-preview__label">Preview</p>
//   </div>
// </div>
//
// .sb-preview--active - Active preview
//
// Styleguide components.preview

.#{$ns}preview {
  background-color: $sb-color-light-4;
  color: $sb-color-light-1;
  position: relative;
  overflow: hidden;
  min-height: sb-px2rems(100px);

  &--active {
    background-color: $sb-color-blue-4;
  }

  &__label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__frame {
    position: absolute;
    top: sb-px2rems(23px);
    left: sb-px2rems(23px);
    bottom: sb-px2rems(23px);
    right: sb-px2rems(23px);
    border-radius: $sb-radius;
    border: 2px solid currentColor;
    overflow: hidden;
  }
}
