// Select
//
// Select element.
// If you would like to apply validation styles and messages, check out the <a href="section-components.html#kssref-components-button-loader">Form Control</a> component.
//
// Browser support: IE9+, Safari6+, Firefox35+, Chrome30+
//
// Markup:
//  <div class="sb-form-control">
//    <label class="sb-label" for="select-id-1-{{modifier_class}}">Choose an option</label>
//    <div class="sb-select sb-form-control__input {{modifier_class}}">
//      <select class="sb-input" id="select-id-1-{{modifier_class}}">
//        <option selected>Select</option>
//        <option>Choice 1</option>
//        <option>Choice 2</option>
//        <option>Choice 3</option>
//      </select>
//      <svg class="sb-icon" viewBox="-5 -5 16 16"><path d="M0 0l3.5 4L7 0H0"></svg>
//    </div>
//  </div>
//
// .sb-select--placeholder - when select has a placeholder value
//
// Styleguide Components.select

.#{$ns}select {
  .#{$ns}input {
    appearance: none;
    padding-right: sb-px2rems(30px);
  }

  .#{$ns}icon {
    display: inline;
  }

  &--placeholder {
    .#{$ns}input {
      color: $sb-color-light-1;
    }
  }
}
