// Select
//
// Select element
//
// Browser support: IE9+, Safari6+, Firefox35+, Chrome30+
//
// Markup:
//  <div class="sb-form-control">
//    <label class="sb-label" for="select-id-1">Choose an option</label>
//    <div class="sb-select sb-form-control__input">
//      <select class="sb-input" id="select-id-1">
//        <option selected>Select</option>
//        <option>Choice 1</option>
//        <option>Choice 2</option>
//        <option>Choice 3</option>
//      </select>
//      <svg class="sb-icon" viewBox="-5 -5 16 16"><path d="M0 0l3.5 4L7 0H0"></svg>
//    </div>
//  </div>
//
// Styleguide Components.select

.#{$ns}select {
  .#{$ns}input {
    appearance: none;
    padding-right: sb-px2rems(30px);
  }

  .#{$ns}icon {
    display: inline;
  }
}

// Select with validation
//
// Select error validation
//
// Browser support: IE9+, Safari6+, Firefox35+, Chrome30+
//
// Markup:
//  <div class="sb-form-control {{modifier_class}}">
//    <label class="sb-label" for="select-id-{{modifier_class}}">Choose an option</label>
//    <div class="sb-select sb-form-control__input">
//      <select class="sb-input" id="select-id-{{modifier_class}}">
//        <option selected>Select</option>
//        <option>Choice 1</option>
//        <option>Choice 2</option>
//        <option>Choice 3</option>
//      </select>
//      <svg class="sb-icon" viewBox="-5 -5 16 16"><path d="M0 0l3.5 4L7 0H0"></svg>
//    </div>
//    <p role="alert" class="sb-form-control__validation">Error message here.</p>
//  </div>
//
// .sb-form-control--invalid - invalid select
//
// Styleguide Components.select.validation
