// Table List
//
// Markup:
//  <ul class="sb-table-list">
//    <li class="sb-table-list__item"> Element 1 </li>
//    <li class="sb-table-list__item"> Element 2 </li>
//    <li class="sb-table-list__item"> Element 3 </li>
//    <li class="sb-table-list__item"> Element 4 </li>
//  </ul>
//
// Styleguide table-list

.#{$ns}table-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    background-color: $sb-color-white;

    &:hover,
    &:focus {
      background-color: $sb-color-light-4;
    }

    &:not(:last-child),
    &:only-child {
      border-bottom: 1px solid $sb-color-light-4;
    }
  }
}

// Table List Hover
//
// Markup:
//  <ul class="sb-table-list">
//    <li class="sb-table-list__item sb-hide-child">
//        Element 1
//        <svg class="sb-icon sb-child" viewBox="0 0 13 16">
//          <path d="M7.21582935 3.881V0L13 6l-5.78417065 6V8.0345C.4864288 7.8705.77515533 12.7805 2.48823387 16-1.73999488 11.259-.8424844 3.663 7.21582935 3.881"/>
//        </svg>
//    </li>
//    <li class="sb-table-list__item sb-hide-child">
//        Element 2
//        <svg class="sb-icon sb-child" viewBox="0 0 13 16">
//          <path d="M7.21582935 3.881V0L13 6l-5.78417065 6V8.0345C.4864288 7.8705.77515533 12.7805 2.48823387 16-1.73999488 11.259-.8424844 3.663 7.21582935 3.881"/>
//        </svg>
//    </li>
//    <li class="sb-table-list__item sb-hide-child">
//        Element 3
//        <svg class="sb-icon sb-child" viewBox="0 0 13 16">
//          <path d="M7.21582935 3.881V0L13 6l-5.78417065 6V8.0345C.4864288 7.8705.77515533 12.7805 2.48823387 16-1.73999488 11.259-.8424844 3.663 7.21582935 3.881"/>
//        </svg>
//    </li>
//    <li class="sb-table-list__item sb-hide-child">
//        Element 4
//        <svg class="sb-icon sb-child" viewBox="0 0 13 16">
//          <path d="M7.21582935 3.881V0L13 6l-5.78417065 6V8.0345C.4864288 7.8705.77515533 12.7805 2.48823387 16-1.73999488 11.259-.8424844 3.663 7.21582935 3.881"/>
//        </svg>
//    </li>
//  </ul>
//
// Styleguide table-list.hover

