// Text Classes
//
// The text classes to format the text of any html element.
//
// Markup:
// <h1 class="{{modifier_class}}">The quick brown fox jumps over the lazy dog</h1>
//
// .sb-display--l     - Used for single dates when visualizing data
// .sb-display        - Used for big numbers when visualizing data
// .sb-header--l      - Used for page titles
// .sb-header         - Used for main titles in different page sections
// .sb-header--s      - Used for secondary titles
// .sb-text           - Used for buttons and empty state text
// .sb-text--s        - Used for all input controls
//
// Styleguide 2.3.

@mixin sb-text-common-props {
  color: $sb-color-dark-3;
  font-weight: 400;
  letter-spacing: 0;
}

.#{$ns}display--l {
  @include sb-text-common-props();

  font-family: $sb-primary-font-family;
  font-size: sb-px2rems(83px);
  line-height: sb-px2rems(83px);
}

.#{$ns}display {
  @include sb-text-common-props();

  font-family: $sb-primary-font-family;
  font-size: sb-px2rems(48px);
  line-height: sb-px2rems(48px);
}

.#{$ns}header--l {
  @include sb-text-common-props();

  font-family: $sb-primary-font-family;
  font-size: sb-px2rems(28px);
  line-height: sb-px2rems(28px);
}

.#{$ns}header {
  @include sb-text-common-props();

  font-family: $sb-primary-font-family;
  font-size: sb-px2rems(23px);
  line-height: sb-px2rems(23px);
}

.#{$ns}header--s {
  @include sb-text-common-props();

  font-family: $sb-primary-font-family;
  font-size: sb-px2rems(19px);
  line-height: sb-px2rems(19px);
}

.#{$ns}text {
  @include sb-text-common-props();

  font-family: $sb-primary-font-family;
  font-size: sb-px2rems(16px);
  line-height: sb-px2rems(23px);
}

.#{$ns}text--s {
  @include sb-text-common-props();

  font-family: $sb-base-font-family;
  font-size: sb-px2rems(13px);
  line-height: sb-px2rems(23px);
}
