// Text Classes
//
// The text classes to format the text of any html element.
//
// Markup:
// <p class="{{modifier_class}}">The quick brown fox jumps over the lazy dog</p>
//
// .sb-display--l     - Used for single dates when visualizing data
// .sb-display        - Used for big numbers when visualizing data
// .sb-title--l       - Used for page titles
// .sb-title          - Used for main titles in different page sections
// .sb-title--s       - Used for smaller titles
// .sb-text           - Used for buttons and empty state text
// .sb-text--s        - Used for all input controls
// .sb-text--emphasis - Used for emphasizing text
//
// Styleguide typography.text

.#{$ns}display--l {
  font-size: sb-px2rems(83px);
  line-height: sb-px2rems(83px);
  font-weight: 400;
}

.#{$ns}display {
  font-size: sb-px2rems(48px);
  line-height: sb-px2rems(48px);
  font-weight: 400;
}

.#{$ns}title--l {
  font-size: sb-px2rems(28px);
  line-height: sb-px2rems(28px);
  font-weight: 400;
}

.#{$ns}title {
  font-size: sb-px2rems(23px);
  line-height: sb-px2rems(23px);
  font-weight: 400;
}

.#{$ns}title--s {
  font-size: sb-px2rems(19px);
  line-height: sb-px2rems(19px);
  font-weight: 400;
}

.#{$ns}text {
  font-size: sb-px2rems(16px);
  line-height: sb-px2rems(23px);
  font-weight: 400;
}

.#{$ns}text--s {
  font-family: $sb-base-font-family;
  font-size: sb-px2rems(13px);
  line-height: sb-px2rems(23px);
  font-weight: 400;
}

.#{$ns}text--emphasis {
  font-weight: 600;
}
