/* stylelint-disable no-duplicate-selectors */

// Tooltip
//
// Tooltip element default (medium).
// Used for descriptions or explanation of an action on the interface.
// Slides up to the top of its container.
//
// Browser support: IE9+, Safari6.2+, Firefox30+, Chrome32+
//
// Markup:
// <div class="sb-tile sb-tooltip__container sb-text--center">
//   hover me
//   <div class="sb-tooltip {{modifier_class}}">
//     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vestibulum turpis enim, eget tempor tellus placerat at.</p>
//     <p>Alea iacta est!</p>
//     <div class="sb-tooltip__arrow"></div>
//   </div>
// </div>
//
// .sb-tooltip--bottom - Slides down to the bottom of its container.
//
// Styleguide Components.tooltip

$tp: #{$ns}tooltip;

.#{$tp} {
  position: absolute;
  display: table;
  top: 0;
  left: 50%;
  max-width: sb-px2rems(350px);
  transform: translate(-50%, -100%);
  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  padding: sb-rem-spacing('-s');
  background: $sb-color-white;
  border-radius: $sb-radius;
  box-shadow: 0 0 0 1px $sb-color-light-3, $sb-box-shadow-light;
  font-family: $sb-base-font-family;
  font-size: sb-px2rems(13px);
  line-height: sb-px2rems(19px);
  color: $sb-color-dark-3;
  margin-top: -7px;
  transition: opacity $sb-timing-s ease-out, margin $sb-timing-m $sb-easeup-function;

  &--bottom {
    top: 100%;
    transform: translateX(-50%);
  }

  &--left,
  &--right {
    transform: translate(0, -100%);
  }

  &--left {
    left: 0;
  }

  &--right {
    left: auto;
    right: 0;
  }

  &--s {
    white-space: nowrap;
    line-height: sb-px2rems(13px);
    padding: sb-rem-spacing('-xs');
  }

  &--l {
    padding: sb-rem-spacing('-l');
  }

  &__container {
    position: relative;

    &:hover .#{$tp} {
      opacity: 1;
      visibility: visible;
      margin-top: -14px;
    }

    &:hover .#{$tp}--bottom {
      margin-top: 14px;
    }

    &:hover .#{$tp}--left,
    &:hover .#{$tp}--right {
      margin-top: -14px;
    }
  }

  & > * {
    font-size: sb-px2rems(13px);
  }

  &__arrow {
    content: '';
    width: $sb-tooltip-arrow-container;
    height: $sb-tooltip-arrow-container / 2;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      width: $sb-tooltip-arrow-size;
      height: $sb-tooltip-arrow-size;
      background: $sb-color-white;
      transform: translate(-50%, -50%) rotate(45deg);
      top: 0;
      left: 50%;
      border: 1px solid $sb-color-light-3;
      box-shadow: $sb-box-shadow-light;
    }

    .#{$tp}--left &,
    .#{$tp}--right & {
      transform: translateX(0);
    }

    .#{$tp}--left & {
      left: 5%;
    }

    .#{$tp}--right & {
      left: auto;
      right: 5%;
    }

    .#{$tp}--bottom & {
      top: 0;
      transform: translate(-50%, -100%);
    }

    .#{$tp}--bottom &::after {
      transform: translate(-50%, 7px) rotate(45deg);
    }
  }
}

// Tooltip left
//
// Tooltip element positioned to the left of its parent.
// Used when there's not enough space on the left
// for the tooltip to overflow when centered.
//
// Browser support: IE9+, Safari6.2+, Firefox30+, Chrome32+
//
// Markup:
// <div class="sb-tile sb-tooltip__container">
//   hover me
//   <div class="sb-tooltip sb-tooltip--left">
//     <p>Fancy tooltip content.</p>
//     <div class="sb-tooltip__arrow"></div>
//   </div>
// </div>
//
// Styleguide Components.tooltip.left

// Tooltip right
//
// Tooltip element positioned to the right of its parent.
// Used when there's not enough space on the right
// for the tooltip to overflow when centered.
//
// Browser support: IE9+, Safari6.2+, Firefox30+, Chrome32+
//
// Markup:
// <div class="sb-tile sb-tooltip__container sb-text--right">
//   hover me
//   <div class="sb-tooltip sb-tooltip--right">
//     <p>Fancy tooltip content.</p>
//     <div class="sb-tooltip__arrow"></div>
//   </div>
// </div>
//
// Styleguide Components.tooltip.right

// Tooltip small
//
// Tooltip element small. Always displayed on one line!
// Used for small descriptions or names. eg: emotions in mood rating.
//
// Browser support: IE9+, Safari6.2+, Firefox30+, Chrome32+
//
// Markup:
// <div class="sb-tile sb-tooltip__container sb-text--center">
//   hover me
//   <div class="sb-tooltip sb-tooltip--s">
//     <p>Fancy tooltip content.</p>
//     <div class="sb-tooltip__arrow"></div>
//   </div>
// </div>
//
// Styleguide Components.tooltip.small

// Tooltip large
//
// Tooltip element large.
// Used for long text (not ideal).
// e.g: comments on feedback page or privacy policy.
//
// Browser support: IE9+, Safari6.2+, Firefox30+, Chrome30+
//
// Markup:
// <div class="sb-tile sb-tooltip__container sb-text--center">
//   hover me
//   <div class="sb-tooltip sb-tooltip--l">
//     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vestibulum turpis enim, eget tempor tellus placerat at. Mauris quis tincidunt eros. Sed eu felis nulla. Aliquam ullamcorper magna risus, id placerat leo pulvinar at. Nunc tortor nunc, porttitor a finibus vel, tristique quis enim. Mauris eget mauris laoreet, vulputate libero finibus, dignissim nisi. In nec lectus vel est vehicula efficitur consequat vel ligula. Curabitur accumsan quam at mauris finibus, et egestas nulla ultricies. Pellentesque vel venenatis tellus, sed tempus ex. Nunc condimentum ligula eros, id scelerisque odio blandit quis. Morbi sit amet felis non ex dictum vulputate.</p>
//     <div class="sb-tooltip__arrow"></div>
//   </div>
// </div>
//
// Styleguide Components.tooltip.large
