// Upload
//
// The file upload component. Ensure you change or remove the html attributes as required.
//
// JavaScript is required for:
// - Activating the delete button
// - Replacement of the filename text when a file is selected
// - Switching between inactive (no file selected) and active (a file is selected) by toggling `sb-upload--inactive`
// - Activating the upload click handler when enter or spacebar are pressed (for accessibility purposes)
//
// Markup:
// <div class="sb-upload {{modifier_class}}">
//   <button class="sb-btn sb-btn--primary">Upload File</button>
//   <input class="sb-upload__input" type="file" id="upload-1" name="upload-1" accept="image/*">
//   <label class="sb-upload__label" for="upload-1">
//     <div class="sb-upload__faux sb-input" role="button" tabindex="0">
//       <p class="sb-upload__filename">filename.jpg<a class="sb-upload__link">change</a></p>
//     </div>
//   </label>
//   <button class="sb-upload__delete" aria-label="Close">
//     <svg class="sb-icon" viewBox="0 0 16 16">
//       <path transform="translate(-1272.000000, -567.000000)" d="M1278.07369,580.800506 L1277.5067,571.501887 C1277.49899,571.287778 1277.32027,571.12099 1277.10764,571.12836 C1276.89502,571.136506 1276.72901,571.316481 1276.73671,571.53059 L1277.30409,580.829209 C1277.31179,581.043318 1277.49052,581.210493 1277.70314,581.202736 C1277.91576,581.19459 1278.08139,581.015003 1278.07369,580.800506 Z M1284.23704,581.507579 C1284.18504,581.883573 1283.89191,582.220363 1283.46667,582.220363 L1276.53333,582.220363 C1276.1077,582.220363 1275.82151,581.887493 1275.76296,581.507579 L1274.99259,569.909091 L1285.00741,569.909091 L1284.23704,581.507579 Z M1278.07407,569.327273 L1281.92593,569.327273 L1281.92593,567.776145 L1278.07407,567.776145 L1278.07407,569.327273 Z M1282.6963,569.181818 L1282.6963,567.727636 C1282.6963,567.325818 1282.35117,567 1281.92593,567 L1278.07407,567 C1277.64844,567 1277.3037,567.325818 1277.3037,567.727636 L1277.3037,569.181818 L1272.38519,569.181818 C1272.17256,569.181818 1272,569.344727 1272,569.545818 C1272,569.746545 1272.17256,569.909091 1272.38519,569.909091 L1274.22222,569.909091 L1274.99259,581.545455 C1275.11662,582.341455 1275.68246,583 1276.53333,583 L1283.46667,583 C1284.31754,583 1284.86258,582.333455 1285.00741,581.545455 L1285.77778,569.909091 L1287.61481,569.909091 C1287.82744,569.909091 1288,569.746545 1288,569.545818 C1288,569.344727 1287.82744,569.181818 1287.61481,569.181818 L1282.6963,569.181818 Z M1282.69707,580.829208 L1283.25559,571.53059 C1283.26329,571.316481 1283.09727,571.136505 1282.88465,571.12836 C1282.67203,571.12099 1282.4933,571.288166 1282.48599,571.502275 L1281.92708,580.801281 C1281.91938,581.01539 1282.08578,581.194978 1282.29801,581.202735 C1282.51102,581.210881 1282.68936,581.043317 1282.69707,580.829208 Z M1280.38519,580.814157 L1280.38519,571.505066 C1280.38519,571.290569 1280.21262,571.117188 1280,571.117188 C1279.78738,571.117188 1279.61481,571.290569 1279.61481,571.505066 L1279.61481,580.814157 C1279.61481,581.028654 1279.78738,581.202036 1280,581.202036 C1280.21262,581.202036 1280.38519,581.028654 1280.38519,580.814157 Z"></path>
//     </svg>
//   </button>
// </div>
//
// .sb-upload--inactive - Add and remove this class with js to switch between active and inactive states
//
// Styleguide 8.

.#{$ns}upload {
  .#{$ns}btn,
  &__input {
    display: none;
  }

  &__link {
    float: right;
  }

  &__faux {
    width: initial;
    margin-right: sb-px2rems(32px);

    &:hover {
      cursor: pointer;
    }

    &:focus {
      border-color: $sb-color-blue-2;
      box-shadow: $sb-box-shadow;
      outline: none;
    }
  }

  &__faux:hover .#{$ns}upload__link {
    color: $sb-color-blue-1;
  }

  &__delete {
    position: absolute;
    right: sb-px2rems(-11px);
    top: 0;
    color: $sb-color-dark-3;
    padding: sb-px2rems(11px);
    border: 1px solid transparent;

    &:hover {
      color: $sb-color-red-1;
      cursor: pointer;
    }

    &:focus {
      border-color: $sb-color-blue-2;
      border-radius: sb-px2rems($sb-radius);
      box-shadow: $sb-box-shadow;
      outline: none;
    }
  }
}

.#{$ns}upload--inactive {
  .#{$ns}upload__btn {
    display: block;
  }

  .#{$ns}upload__link,
  .#{$ns}upload__delete,
  .#{$ns}upload__faux {
    display: none;
  }
}

//TODO: pull out when icon system is created
.#{$ns}icon {
  height: sb-px2rems(16px);
  width: sb-px2rems(16px);
}
