/* stylelint-disable color-no-hex */

// Colors
//
// Styleguide colors

// Dark
//
// $sb-color-dark-1 - #23272a;
// $sb-color-dark-2 - #41474c;
// $sb-color-dark-3 - #59636b;
//
// Styleguide colors.dark
$sb-color-dark-1: #23272a;
$sb-color-dark-2: #41474c;
$sb-color-dark-3: #59636b;

// Light
//
// $sb-color-light-1 - #9cacba;
// $sb-color-light-2 - #bac8d3;
// $sb-color-light-3 - #c8d2da;
// $sb-color-light-4 - #eef3f7;
//
// Styleguide colors.light
$sb-color-light-1: #9cacba;
$sb-color-light-2: #bac8d3;
$sb-color-light-3: #c8d2da;
$sb-color-light-4: #eef3f7;

$sb-color-white: #fff;
$sb-color-black: #000;

// Brand
//
// $sb-color-blue-2 - #00a5c9;
// $sb-color-green-2 - #00c97e;
// $sb-color-yellow-2 - #ffb867;
// $sb-color-red-2 - #ed4a59;
//
// Styleguide colors.brand

// Charts
//
// Styleguide colors.charts

// Green
//
// $sb-color-green-1 - #00a265;
// $sb-color-green-2 - #00c97e;
// $sb-color-green-3 - #52d7a5;
// $sb-color-green-4 - #a9ebd2;
//
// Styleguide colors.charts.green
$sb-color-green-1: #00a265;
$sb-color-green-2: #00c97e;
$sb-color-green-3: #52d7a5;
$sb-color-green-4: #a9ebd2;

// Yellow
//
// $sb-color-yellow-1 - #dea64b;
// $sb-color-yellow-2 - #ffb867;
// $sb-color-yellow-3 - #ffd99c;
// $sb-color-yellow-4 - #ffe1be;
//
// Styleguide colors.charts.yellow
$sb-color-yellow-1: #dea64b;
$sb-color-yellow-2: #ffb867;
$sb-color-yellow-3: #ffd99c;
$sb-color-yellow-4: #ffe1be;

// Purple
//
// $sb-color-purple-1 - #860479;
// $sb-color-purple-2 - #b306a2;
// $sb-color-purple-3 - #b34da8;
// $sb-color-purple-4 - #f7cff3;
//
// Styleguide colors.charts.purple
$sb-color-purple-1: #860479;
$sb-color-purple-2: #b306a2;
$sb-color-purple-3: #b34da8;
$sb-color-purple-4: #f7cff3;

// Blue
//
// $sb-color-blue-1 - #008aab;
// $sb-color-blue-2 - #00a5c9;
// $sb-color-blue-3 - #43caea;
// $sb-color-blue-4 - #cdf2ff;
//
// Styleguide colors.charts.blue
$sb-color-blue-1: #008aab;
$sb-color-blue-2: #00a5c9;
$sb-color-blue-3: #43caea;
$sb-color-blue-4: #cdf2ff;

// Dark blue
//
// $sb-color-darkblue-1 - #11333b;
// $sb-color-darkblue-2 - #02566a;
//
// Styleguide colors.charts.darkblue
$sb-color-darkblue-1: #11333b;
$sb-color-darkblue-2: #02566a;

// Red
//
// $sb-color-red-1 - #bb2e3e;
// $sb-color-red-2 - #ed4a59;
// $sb-color-red-3 - #fc7b87;
// $sb-color-red-4 - #fcaab2;
//
// Styleguide colors.charts.red
$sb-color-red-1: #bb2e3e;
$sb-color-red-2: #ed4a59;
$sb-color-red-3: #fc7b87;
$sb-color-red-4: #fcaab2;

// Dark red
//
// $sb-color-darkred-1 - #5b1419;
// $sb-color-darkred-2 - #7d202b;
// $sb-color-darkred-3 - #972936;
//
// Styleguide colors.charts.darkred
$sb-color-darkred-1: #5b1419;
$sb-color-darkred-2: #7d202b;
$sb-color-darkred-3: #972936;
