/* stylelint-disable color-no-hex */

$sb-color-dark-1: #23272a;
$sb-color-dark-2: #41474c;
$sb-color-dark-3: #59636b;

$sb-color-light-1: #9cacba;
$sb-color-light-2: #bac8d3;
$sb-color-light-3: #c8d2da;
$sb-color-light-4: #eef3f7;

$sb-color-white: #fff;
$sb-color-black: #000;

// Brand colors are version 2 of blue, red, yellow and green.
// The others are mainly used for charts and graphs.

$sb-color-green-1: #00a265;
$sb-color-green-2: #00c97e;
$sb-color-green-3: #52d7a5;
$sb-color-green-4: #a9ebd2;

$sb-color-yellow-1: #dea64b;
$sb-color-yellow-2: #ffb867;
$sb-color-yellow-3: #ffd99c;
$sb-color-yellow-4: #ffe1be;

$sb-color-purple-1: #860479;
$sb-color-purple-2: #b306a2;
$sb-color-purple-3: #b34da8;
$sb-color-purple-4: #f7cff3;

$sb-color-blue-1: #008aab;
$sb-color-blue-2: #00a5c9;
$sb-color-blue-3: #43caea;
$sb-color-blue-4: #cdf2ff;

$sb-color-darkblue-1: #11333b;
$sb-color-darkblue-2: #02566a;

$sb-color-red-1: #bb2e3e;
$sb-color-red-2: #ed4a59;
$sb-color-red-3: #fc7b87;
$sb-color-red-4: #fcaab2;

$sb-color-darkred-1: #5b1419;
$sb-color-darkred-2: #7d202b;
$sb-color-darkred-3: #972936;
