/* stylelint-disable color-no-hex */
/* stylelint-disable plugin/docs-required */

// Colors
//
// All colors are used as variables and exported as stand alone classes.
//
// Styleguide colors

// Dark
//
// $sb-color-dark-1 - #23272a;
// $sb-color-dark-2 - #41474c;
// $sb-color-dark-3 - #59636b;
//
// Styleguide colors.dark
$sb-color-dark-1: #23272a;
$sb-color-dark-2: #41474c;
$sb-color-dark-3: #59636b;

// Dark classes
//
// Markup:
// <span class="{{modifier_class}}">Text</span>
//
// .sb-color-dark-1 - dark 1
// .sb-color-dark-2 - dark 2
// .sb-color-dark-3 - dark 3
//
// Styleguide colors.dark.classes

@include sb-colors-from-color-map((
  dark-1: $sb-color-dark-1,
  dark-2: $sb-color-dark-2,
  dark-3: $sb-color-dark-3
));

// Light
//
// $sb-color-light-1 - #9cacba;
// $sb-color-light-2 - #bac8d3;
// $sb-color-light-3 - #c8d2da;
// $sb-color-light-4 - #eef3f7;
//
// Styleguide colors.light
$sb-color-light-1: #9cacba;
$sb-color-light-2: #bac8d3;
$sb-color-light-3: #c8d2da;
$sb-color-light-4: #eef3f7;

// Light classes
//
// Markup:
// <span class="{{modifier_class}}">Text</span>
//
// .sb-color-light-1 - light 1
// .sb-color-light-2 - light 2
// .sb-color-light-3 - light 3
// .sb-color-light-4 - light 4
//
// Styleguide colors.light.classes

@include sb-colors-from-color-map((
  light-1: $sb-color-light-1,
  light-2: $sb-color-light-2,
  light-3: $sb-color-light-3,
  light-4: $sb-color-light-4
));

$sb-color-white: #fff;
$sb-color-black: #000;

@include sb-colors-from-color-map((
  white: $sb-color-white,
  black: $sb-color-black
));

// Brand
//
// $sb-color-blue-2 - #00a5c9;
// $sb-color-green-2 - #00c97e;
// $sb-color-yellow-2 - #ffb867;
// $sb-color-red-2 - #ed4a59;
//
// Styleguide colors.brand

// Charts
//
// Styleguide colors.charts

// Green
//
// $sb-color-green-1 - #00a265;
// $sb-color-green-2 - #00c97e;
// $sb-color-green-3 - #52d7a5;
// $sb-color-green-4 - #a9ebd2;
//
// Styleguide colors.charts.green
$sb-color-green-1: #00a265;
$sb-color-green-2: #00c97e;
$sb-color-green-3: #52d7a5;
$sb-color-green-4: #a9ebd2;

// Green classes
//
// Markup:
// <span class="{{modifier_class}}">Text</span>
//
// .sb-color-green-1 - green 1
// .sb-color-green-2 - green 2
// .sb-color-green-3 - green 3
// .sb-color-green-4 - green 4
//
// Styleguide colors.charts.green.classes

@include sb-colors-from-color-map((
  green-1: $sb-color-green-1,
  green-2: $sb-color-green-2,
  green-3: $sb-color-green-3,
  green-4: $sb-color-green-4
));

// Yellow
//
// $sb-color-yellow-1 - #dea64b;
// $sb-color-yellow-2 - #ffb867;
// $sb-color-yellow-3 - #ffd99c;
// $sb-color-yellow-4 - #ffe1be;
//
// Styleguide colors.charts.yellow
$sb-color-yellow-1: #dea64b;
$sb-color-yellow-2: #ffb867;
$sb-color-yellow-3: #ffd99c;
$sb-color-yellow-4: #ffe1be;

// Yellow classes
//
// Markup:
// <span class="{{modifier_class}}">Text</span>
//
// .sb-color-yellow-1 - yellow 1
// .sb-color-yellow-2 - yellow 2
// .sb-color-yellow-3 - yellow 3
// .sb-color-yellow-4 - yellow 4
//
// Styleguide colors.charts.yellow.classes

@include sb-colors-from-color-map((
  yellow-1: $sb-color-yellow-1,
  yellow-2: $sb-color-yellow-2,
  yellow-3: $sb-color-yellow-3,
  yellow-4: $sb-color-yellow-4
));

// Purple
//
// $sb-color-purple-1 - #860479;
// $sb-color-purple-2 - #b306a2;
// $sb-color-purple-3 - #b34da8;
// $sb-color-purple-4 - #f7cff3;
//
// Styleguide colors.charts.purple
$sb-color-purple-1: #860479;
$sb-color-purple-2: #b306a2;
$sb-color-purple-3: #b34da8;
$sb-color-purple-4: #f7cff3;

// Purple classes
//
// Markup:
// <span class="{{modifier_class}}">Text</span>
//
// .sb-color-purple-1 - purple 1
// .sb-color-purple-2 - purple 2
// .sb-color-purple-3 - purple 3
// .sb-color-purple-4 - purple 4
//
// Styleguide colors.charts.purple.classes

@include sb-colors-from-color-map((
  purple-1: $sb-color-purple-1,
  purple-2: $sb-color-purple-2,
  purple-3: $sb-color-purple-3,
  purple-4: $sb-color-purple-4
));

// Blue
//
// $sb-color-blue-1 - #008aab;
// $sb-color-blue-2 - #00a5c9;
// $sb-color-blue-3 - #43caea;
// $sb-color-blue-4 - #cdf2ff;
//
// Styleguide colors.charts.blue
$sb-color-blue-1: #008aab;
$sb-color-blue-2: #00a5c9;
$sb-color-blue-3: #43caea;
$sb-color-blue-4: #cdf2ff;

// Blue classes
//
// Markup:
// <span class="{{modifier_class}}">Text</span>
//
// .sb-color-blue-1 - blue 1
// .sb-color-blue-2 - blue 2
// .sb-color-blue-3 - blue 3
// .sb-color-blue-4 - blue 4
//
// Styleguide colors.charts.blue.classes

@include sb-colors-from-color-map((
  blue-1: $sb-color-blue-1,
  blue-2: $sb-color-blue-2,
  blue-3: $sb-color-blue-3,
  blue-4: $sb-color-blue-4
));

// Dark blue
//
// $sb-color-darkblue-1 - #11333b;
// $sb-color-darkblue-2 - #02566a;
//
// Styleguide colors.charts.bluedark
$sb-color-darkblue-1: #11333b;
$sb-color-darkblue-2: #02566a;

// Dark blue classes
//
// Markup:
// <span class="{{modifier_class}}">Text</span>
//
// .sb-color-darkblue-1 - darkblue 1
// .sb-color-darkblue-2 - darkblue 2
//
// Styleguide colors.charts.bluedark.classes

@include sb-colors-from-color-map((
  darkblue-1: $sb-color-darkblue-1,
  darkblue-2: $sb-color-darkblue-2
));

// Red
//
// $sb-color-red-1 - #bb2e3e;
// $sb-color-red-2 - #ed4a59;
// $sb-color-red-3 - #fc7b87;
// $sb-color-red-4 - #fcaab2;
//
// Styleguide colors.charts.red
$sb-color-red-1: #bb2e3e;
$sb-color-red-2: #ed4a59;
$sb-color-red-3: #fc7b87;
$sb-color-red-4: #fcaab2;

// Red classes
//
// Markup:
// <span class="{{modifier_class}}">Text</span>
//
// .sb-color-red-1 - red 1
// .sb-color-red-2 - red 2
// .sb-color-red-3 - red 3
// .sb-color-red-4 - red 4
//
// Styleguide colors.charts.red.classes

@include sb-colors-from-color-map((
  red-1: $sb-color-red-1,
  red-2: $sb-color-red-2,
  red-3: $sb-color-red-3,
  red-4: $sb-color-red-4
));

// Dark red
//
// $sb-color-darkred-1 - #5b1419;
// $sb-color-darkred-2 - #7d202b;
// $sb-color-darkred-3 - #972936;
//
// Styleguide colors.charts.reddark
$sb-color-darkred-1: #5b1419;
$sb-color-darkred-2: #7d202b;
$sb-color-darkred-3: #972936;

// Dark red classes
//
// Markup:
// <span class="{{modifier_class}}">Text</span>
//
// .sb-color-darkred-1 - darkred 1
// .sb-color-darkred-2 - darkred 2
// .sb-color-darkred-3 - darkred 3
//
// Styleguide colors.charts.reddark.classes

@include sb-colors-from-color-map((
  darkred-1: $sb-color-darkred-1,
  darkred-2: $sb-color-darkred-2,
  darkred-3: $sb-color-darkred-3
));
