$sb-font-stack: (
  Milo:
  (
    Light:
    (
      woff: 'assets/fonts/MiloOT-Light.woff',
      woff2: 'assets/fonts/MiloOT-Light.woff2',
      weight: 300
    ),
    Regular:
    (
      woff: 'assets/fonts/MiloOT.woff',
      woff2: 'assets/fonts/MiloOT.woff2',
      weight: 400
    ),
    Medium:
    (
      woff: 'assets/fonts/MiloOT-Medi.woff',
      woff2: 'assets/fonts/MiloOT-Medi.woff2',
      weight: 600
    )
  )
);

// Create @font-face declarations
@each $font-name, $font-types in $sb-font-stack {
  @each $font-type, $font-settings in $font-types {
    $font-path-woff: map-get($font-settings, woff);
    $font-path-woff2: map-get($font-settings, woff2);
    $font-weight: map-get($font-settings, weight);

    @font-face {
      font-family: $font-name;
      font-weight: $font-weight;
      src:
        url($font-path-woff) format('woff'),
        url($font-path-woff2) format('woff2');
    }
  }
}

$sb-base-font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
  Helvetica, Arial, sans-serif;
$sb-primary-font-family: Milo, $sb-base-font-family;
