// This function returns a rems value based on the given pixels.

// Our approach has been that given our browser support requirements (IE9 and up),
// rems is the preferred option for sizing elements, and in particular typography.
// This is because it is more accessible, supporting the browser font sizing options.
// For more information: http://engageinteractive.co.uk/blog/em-vs-rem-vs-px

@function sb-px2rems($px) {
  $base-font-size: 16px;

  @return ($px / $base-font-size) * 1rem;
}

@mixin sb-clearfix() {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

// Clearfix for Bootstrap
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/

@mixin clearfix() {
  &::before,
  &::after {
    content: ' '; // 1
    display: table; // 2
  }

  &::after {
    clear: both;
  }
}
