/* stylelint-disable plugin/docs-required */

// Shared styles between radio and checkbox components
// Obs: please do not reuse extends declared on this file for components other than radio or checkbox.
%sb-label-inline {
  display: inline-flex;
  align-items: flex-start;
}

%sb-faux {
  display: inline-block;
  flex-shrink: 0;
  position: relative;
  vertical-align: middle;
  width: sb-px2rems(16px);
  height: sb-px2rems(16px);
  margin-top: sb-px2rems(2px);
  border-radius: sb-px2rems($sb-radius);
  border: 1px solid $sb-color-light-3;
  background-color: $sb-color-white;
  overflow: hidden;
}

%sb-faux-hover {
  box-shadow: $sb-box-shadow;
}

%sb-faux-focus {
  @include sb-focus-no-border();
}

%sb-faux-input {
  appearance: none;
  vertical-align: middle;
  position: absolute;
  border: 0;
  width: 0;
  height: 0;
}

%sb-faux-checked {
  background-color: $sb-color-blue-2;
  border-color: $sb-color-blue-2;
  border-bottom: 1px solid $sb-color-blue-1;
}

%sb-faux-disabled {
  border-color: $sb-color-light-4;
  box-shadow: none;
}

%sb-faux-disabled-checked {
  background-color: $sb-color-light-3;
  border-color: $sb-color-light-3;
  border-bottom: 1px solid $sb-color-light-1;
}

%sb-group-input {
  margin-top: sb-px2rems(11px);
}

%sb-group-input-inline {
  display: inline-block;
  margin-right: sb-px2rems(11px);
  margin-top: 0;
}

%sb-group-input-inline-first {
  margin-top: 0;
}

%sb-group-input-inline-last {
  margin-right: 0;
}
